<!DOCTYPE html>
<html>
<head>
  <title>Publication</title>
  <%= stylesheet_link_tag    "publication/application", media: "all" %>
  <%= javascript_include_tag "publication/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
